  	<!-- Preloader -->
    <div id="preloader">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
   
    <!--Carousel-->
    <%= render partial: "shared/carousel" %>
    
	<div id="about"></div>    
    <!--Navbar-->
   	<%= render partial: "shared/navbar" %>
    
	<!--Adam & EVE Section-->
    <%= render partial: "our_moments" %> 

    <!--Family Section-->
    <%= render partial: "family" %>
    
    <!--Big Moments-->
    <%= render partial: "bigMoments" %>
	
    <!--Favourites List-->
    <%= render partial: "favourites" %>
    
    <!--Blog Section-->
    <%#= render partial: "blog" %>
         
    
    <!--Contact Section-->
    <%= render partial: "shared/contact" %>

	<!--Footer Section-->
	<%= render partial: "shared/footer" %>
                

    

